---
import Card from "../../../components/card.astro";
import CellarShell from "../../../layouts/cellar-shell.astro";
import Typography from "../../../layouts/typography.astro";
import { getProducerById, getWinesByProducerId, producers } from "../stub";

export const getStaticPaths = () => {
  return producers.map((producer) => {
    return {
      params: { id: producer.id },
      props: { producerId: producer.id },
    };
  });
};

const { producerId } = Astro.props;
const producer = getProducerById(producerId);
const wines = getWinesByProducerId(producerId);

if (!producer) {
  return Astro.redirect("/cellar/producers");
}
---

<script>
  import Leaflet, { type LatLngExpression } from "leaflet";
  import "leaflet/dist/leaflet.css";

  const mapElement = document.querySelector("#producer-map");

  if (mapElement && mapElement instanceof HTMLElement) {
    // type guard to verify presence of dataset attr
    // Get producer data
    const coordinates = JSON.parse(
      mapElement.dataset.coordinates || "[]",
    ) as LatLngExpression; // TODO How to enforce this type upstream?

    // Create map
    const map = Leaflet.map("producer-map").setView(coordinates, 7);

    // Add tile layer
    Leaflet.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution:
        '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }).addTo(map);

    // Add marker
    Leaflet.marker(coordinates).addTo(map);
  }
</script>

<style>
  @reference "../../../styles/global.css";
</style>

<CellarShell
  description={`Details about ${producer.name}, a wine producer featured in the Ball is Wine blog`}
  title={`${producer.name} - Producer Detail - The Cellar`}
>
  <main class="mx-auto p-8 md:container md:p-16">
    <!-- Breadcrumb navigation -->
    <header class="mx-auto max-w-1/2">
      <nav class="font-title mx-auto mb-8 flex items-center">
        <a
          class="text-lg text-orange-600 underline decoration-wavy underline-offset-2 hover:text-orange-300"
          href="/cellar"
        >
          The Cellar
        </a>
        <span class="mx-2 text-zinc-300">&gt;</span>
        <a
          class="text-lg text-orange-600 underline decoration-wavy underline-offset-2 hover:text-orange-300"
          href="/cellar/producers"
        >
          Producers
        </a>
        <span class="mx-2 text-zinc-300">&gt;</span>
      </nav>

      <h1 class="font-title text-center text-5xl text-zinc-300 md:text-7xl">
        {producer.name}
      </h1>
    </header>

    <Card class="mt-12 p-8">
      <div class="grid grid-cols-1 gap-8 xl:grid-cols-2">
        <div class="flex flex-col-reverse gap-4 sm:flex-col">
          <h2 class="font-old-style text-2xl font-bold text-rose-950 italic">
            {producer.location}
          </h2>
          <div
            class="-mx-16 h-[400px] sm:mx-0"
            data-coordinates={JSON.stringify(producer.coordinates)}
            data-location={producer.location}
            data-name={producer.name}
            id="producer-map"
          >
          </div>
        </div>

        <Typography class="mx-auto text-rose-950 xl:mt-10">
          <p>
            Id enim aute laboris sint officia. Sint proident duis duis magna
            consequat id laborum enim aliqua occaecat incididunt. Velit culpa
            cupidatat dolore esse mollit veniam amet ullamco fugiat. Laborum ut
            esse eu eiusmod sit laborum aute proident deserunt occaecat
            incididunt ipsum. Excepteur id cupidatat laboris dolore minim do.
            Sint voluptate sit ut pariatur elit.
          </p>
          <p>
            Excepteur reprehenderit sit cupidatat ad elit id nulla tempor sunt.
            Culpa laboris proident nulla esse amet. Consequat qui irure ea velit
            culpa irure nisi esse nostrud fugiat cillum veniam dolore tempor.
            Magna eu magna ut consectetur in duis laborum pariatur excepteur
            mollit velit tempor. Ex culpa magna ex laboris velit enim dolor.
            Velit anim ea sit culpa esse dolor adipisicing enim.
          </p>
        </Typography>
      </div>

      <Typography class="mx-auto mt-12 text-rose-950">
        <h2 class="font-old-style mb-6 text-center text-2xl text-rose-950">
          Wines Tried
        </h2>
        <ul>
          {
            wines.map((wine) => (
              <li class="font-old-style grid grid-cols-1 gap-4 text-2xl sm:grid-cols-2">
                <a
                  class="text-center hover:text-rose-600"
                  href={`/cellar/wines/${wine.id}`}
                >
                  {wine.name}
                </a>
              </li>
            ))
          }
        </ul>
      </Typography>
    </Card>
  </main>
</CellarShell>
