---
import { getCollection, render } from "astro:content";

import Card from "../../../components/card.astro";
import CellarShell from "../../../layouts/cellar-shell.astro";
import Typography from "../../../layouts/typography.astro";

export const getStaticPaths = async () => {
  const producers = await getCollection("producers");
  return producers.map((producer) => {
    return {
      params: { id: producer.id },
      props: { producer },
    };
  });
};

const { producer } = Astro.props;
const wines = await getCollection("wines", ({ data }) => {
  return data.producer.id === producer.id;
});

const { Content: ProducerDescription } = await render(producer);

// TODO Proper 404 page
if (!producer) {
  return Astro.redirect("/cellar/producers");
}
---

<script>
  import Leaflet, { type LatLngExpression } from "leaflet";
  import "leaflet/dist/leaflet.css";

  const mapElement = document.querySelector("#producer-map");

  if (mapElement && mapElement instanceof HTMLElement) {
    // type guard to verify presence of dataset attr
    // Get producer data
    const coordinates = JSON.parse(
      mapElement.dataset.coordinates || "[]",
    ) as LatLngExpression; // TODO How to enforce this type upstream?

    // Create map
    const map = Leaflet.map("producer-map").setView(coordinates, 7);

    // Add tile layer
    Leaflet.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution:
        '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }).addTo(map);

    // Add marker
    Leaflet.marker(coordinates).addTo(map);
  }
</script>

<style>
  @reference "../../../styles/global.css";
</style>

<CellarShell
  description={`Details about the winemaker, ${producer.data.name}`}
  title={`${producer.data.name} - The Cellar`}
>
  <main class="mx-auto p-8 md:container md:p-16">
    <!-- Breadcrumb navigation -->
    <header class="mx-auto max-w-1/2">
      <nav class="font-title mx-auto mb-8 flex items-center">
        <a
          class="text-lg tracking-widest text-orange-600 underline decoration-wavy underline-offset-2 hover:text-orange-300"
          href="/cellar"
        >
          The Cellar
        </a>
        <span class="mx-2 text-zinc-300">&gt;</span>
        <a
          class="text-lg tracking-widest text-orange-600 underline decoration-wavy underline-offset-2 hover:text-orange-300"
          href="/cellar/producers"
        >
          Producers
        </a>
        <span class="mx-2 text-zinc-300">&gt;</span>
      </nav>
    </header>

    <Card class="-mx-8 mt-12 p-8 sm:mx-auto lg:max-w-2/3">
      <h1 class="font-old-style mb-10 text-center text-5xl text-rose-950">
        {producer.data.name}
      </h1>
      <div>
        <div class="flex flex-col-reverse gap-4 sm:flex-col">
          <h2 class="font-old-style text-2xl font-bold text-rose-950 italic">
            {producer.data.location}
          </h2>
          <div
            class="-mx-8 h-[400px] sm:mx-0"
            data-coordinates={JSON.stringify(producer.data.coordinates)}
            id="producer-map"
          >
          </div>
        </div>

        <Typography class="mx-auto text-rose-950 xl:mt-10">
          <ProducerDescription />
        </Typography>
      </div>

      <Typography class="mx-auto mt-12 text-rose-950">
        <h2 class="font-old-style mb-6 text-center text-2xl text-rose-950">
          Wines Tried
        </h2>
        <ul>
          {
            wines.map((wine) => (
              <li class="font-old-style grid grid-cols-1 gap-4 text-2xl sm:grid-cols-2">
                <a
                  class="text-center hover:text-rose-600"
                  href={`/cellar/wines/${wine.id}`}
                >
                  {wine.data.name}
                </a>
              </li>
            ))
          }
        </ul>
      </Typography>
    </Card>
  </main>
</CellarShell>
