---
import type { ClassValue } from "clsx";

import Clsx from "clsx";

interface Props {
  panelStyles?: ClassValue;
}

const TABS = {
  BALL: "ball",
  WINE: "wine",
} as const;

const EMOJI = {
  [TABS.BALL]: "🏀",
  [TABS.WINE]: "🍷",
};

const { panelStyles } = Astro.props;
---

<script>
  const tabsContainer = document.querySelector("#tabs-container");

  if (tabsContainer) {
    const tabs = tabsContainer.querySelectorAll('[role="tab"');

    for (const tab of tabs) {
      tab.addEventListener("click", () => {
        const tabPanels = tabsContainer.querySelectorAll('[role="tabpanel"]');
        for (const panel of tabPanels) {
          if (panel.getAttribute("aria-labelledby") === tab.id) {
            panel.removeAttribute("hidden");
          } else {
            panel.setAttribute("hidden", "true");
          }
        }

        tab.setAttribute("aria-selected", "true");
        for (const otherTab of [...tabs].filter((t) => t.id !== tab.id)) {
          otherTab.setAttribute("aria-selected", "false");
        }
      });
    }
  }
</script>

<style>
  #panel-list {
    display: none;
  }

  #tabs-container:has(button[role="tab"][aria-selected="true"]) {
    #panel-list {
      display: block;
    }

    [role="tablist"] {
      @apply gap-4 sm:gap-8;
    }

    [role="tab"] {
      @apply p-4 text-4xl md:p-12 lg:text-6xl;
    }

    #vert-divider {
      @apply h-40 md:h-64;
    }
  }

  button[role="tab"][aria-selected="true"] {
    @apply text-rose-300;
  }
</style>

<div class="mt-8" id="tabs-container">
  <div
    aria-label="post content categories"
    class={Clsx([
      "flex flex-row justify-center transition-[gap] duration-500 ease-out",
      "gap-4 sm:gap-4",
    ])}
    role="tablist"
  >
    {
      Object.values(TABS).map((tabName, i, arr) => {
        return (
          <>
            <button
              aria-controls={`${tabName}-tab`}
              aria-selected="false"
              class={Clsx([
                "space-y-4 leading-[initial] text-yellow-100 transition-[font-size,padding] duration-500 ease-out hover:text-rose-300", // leading-initial to override line height built in to text
                "p-4 text-4xl md:p-16 lg:text-8xl",
              ])}
              id={`${tabName}-tab`}
              role="tab"
              type="button"
            >
              <div class="font-emoji">{EMOJI[tabName]}</div>
              <div class="font-title uppercase tracking-widest">{`${tabName.charAt(0).toUpperCase()}${tabName.slice(1)}`}</div>
            </button>
            {i < arr.length - 1 && (
              <div
                class={Clsx([
                  // min width required to prevent divider from collapsing / disappearing on mobile
                  // unclear why, tho, i assume something about flex layout I'm missing, maybe from tailwind?
                  "min-w-1 self-center bg-yellow-100 transition-[height] duration-500 ease-out",
                  "h-64 md:h-80",
                ])}
                id="vert-divider"
              />
            )}
          </>
        );
      })
    }
  </div>
  <section class="-mx-16 my-8 -mb-24 bg-yellow-50 p-8" id="panel-list">
    {/* Can't loop, astro errored on dynamic slot name */}
    <div aria-labelledby={`${TABS.BALL}-tab`} hidden role="tabpanel">
      <div class:list={[panelStyles]}>
        <slot name="ball">
          <p class="text-center">Thoughts and feels coming after the games!</p>
        </slot>
      </div>
    </div>
    <div aria-labelledby={`${TABS.WINE}-tab`} hidden role="tabpanel">
      <div class:list={[panelStyles]}>
        <slot name="wine">
          <p class="text-center">Thoughts and feels coming after the games!</p>
        </slot>
      </div>
    </div>
  </section>
</div>
