---
import { getCollection, getEntries } from "astro:content";

import Tabs from "../components/detail/tabs.astro";
import Logo, { Sizes } from "../components/logo.astro";
import Shell from "../layouts/shell.astro";
import Typography from "../layouts/typography.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("days");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const [ballPost, winePost] = await getEntries([
  entry.data.ballContent,
  entry.data.wineContent,
]);

const [{ Content: BallContent }, { Content: WineContent }] = await Promise.all(
  [ballPost, winePost].map((ent) => ent.render()),
);

const { wine } = winePost.data;
// TODO use formatter to build human-readable date instead of storing as property in content
const description = `Post for the games on ${entry.data.date}${wine ? `, with a bottle of ${wine}` : ""}`;
---

<Shell description={description} title={entry.data.date}>
  <div class="min-h-full bg-rose-950">
    <div class="flex flex-col gap-12 p-16 md:gap-20">
      <a class="mb-8 self-center text-yellow-100 hover:text-rose-300" href="/">
        <Logo size={Sizes.SMALL} />
      </a>
      <main>
        <article class="space-y-8">
          <h1
            class="text-center font-mono text-4xl text-yellow-100 sm:text-6xl md:text-8xl"
          >
            <time datetime={entry.slug}>{entry.data.date}</time>
          </h1>
          <section class="-mx-16 bg-yellow-50 p-8">
            <Typography class="text-rose-950">
              <Content />
            </Typography>
          </section>
          <Tabs>
            <BallContent slot="ball" />
            <WineContent slot="wine" />
          </Tabs>
        </article>
      </main>
    </div>
  </div>
</Shell>
