---
import { getCollection, getEntries } from "astro:content";

import Logo, { Sizes } from "../components/Logo.astro";
import DetailsPanel from "../components/detail/Panel";
import Shell from "../layouts/shell.astro";

// Sync styles between intro content and Panel content
// Generic styles e.g. spacing and layout can live here
// Leave specifics to the context e.g. color, minimize overriding / dealing with Tailwind source order funk
// useful reference / inspiration: https://github.com/tailwindlabs/tailwindcss-typography/blob/815dfc4879ee54bf5e7d3cf5960f2acf6b85e303/src/styles.js
export const typographyStyles = [
  "font-sans text-xl leading-8",
  // spacing rules; 35em looked like a reasonable line width
  // TODO wine-stats thing sucks; fix, make less fragile, coupled to markup convention
  "max-w-[35em] mx-auto [&>_*:not(.wine-stats_>_*):not(li)]:my-[1.25em] [&>_*:first-child]:mt-0 [&>_*:last-child]:mb-0",
  // element-specific overrides
  "[&_h2]:text-3xl [&_h2]:mt-[2em] [&_h2]:mb-[.75em] [&_h2]:font-bold [&_h2]:text-center [&_h2]:underline [&_h2]:italic",
  "[&_hr]:h-0.5 [&_hr]:my-12 [&_hr]:bg-current [&_hr]:-mx-12 [&_hr_+_*]:mt-0",
  "[&_ul]:list-disc [&_ul]:list-inside [&_li]:my-[0.5em] md:[&_ul]:ps-[2em]",
  "[&_a]:underline [&_a:hover]:text-rose-300", // TODO Lift these up to global / themeatic values, somehow
  // Learned from https://www.smashingmagazine.com/2023/01/level-up-css-skills-has-selector/
  // A bit fragile, but saying that if a list is the only child in a "section" (as demarcated by h2s (currently header element of choice in posts))
  // cut the inline-start padding so it aligns with content in other "sections"
  // Based on display of "Who's Playing" list in first post (2024-10-22)
  "[&_ul:is(h2_+_*):not(*_+_h2)]:ps-0",
];

export async function getStaticPaths() {
  const blogEntries = await getCollection("days");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const [ballPost, winePost] = await getEntries([
  entry.data.ballContent,
  entry.data.wineContent,
]);

const [{ Content: BallContent }, { Content: WineContent }] = await Promise.all(
  [ballPost, winePost].map((ent) => ent.render())
);

const { wine } = winePost.data;
// TODO use formatter to build human-readable data instead of storing as property in content
const description = `Post for the games on ${entry.data.date}${wine ? `, with a bottle of ${wine}` : ""}`;
---

<style>
  .TypoBox {
    cite {
      font-style: normal;
    }

    figure.quote {
      blockquote {
        @apply text-2xl leading-loose border-l-4 border-yellow-500 ps-8;

        * + * {
          @apply mt-[.5em];
        }

        .source-timestamp {
          @apply text-base ps-6 font-light;
        }
      }

      figcaption {
        @apply mt-6 ps-16 text-lg max-w-[80%] text-balance text-yellow-600;

        a {
          @apply hover:text-yellow-900;
        }
      }

      &:not(:first-child) {
        /* loose spacing when listing quotations one after another (see 2025-02-17) */
        @apply mt-20;

        /* Tighten spacing when quotation appears within a paragraph i.e. body text immediately surrounding */
        &:not(figure + *) {
          @apply mt-[1.5em] mb-[3em];
        }
      }
    }
  }
</style>

<Shell title={entry.data.date} description={description}>
  <div class="bg-rose-950 min-h-full">
    <div class="flex flex-col p-16 gap-12 md:gap-20">
      <a href="/" class="text-yellow-100 self-center hover:text-rose-300 mb-8">
        <Logo size={Sizes.SMALL} />
      </a>
      <main>
        <article class="space-y-8">
          <h1
            class="text-yellow-100 text-center text-4xl sm:text-6xl md:text-8xl font-mono"
          >
            <time datetime={entry.slug}>{entry.data.date}</time>
          </h1>
          <section class="-mx-16 p-8 bg-yellow-50">
            <div class:list={[...typographyStyles, "text-rose-950", "TypoBox"]}>
              <Content />
            </div>
          </section>
          <DetailsPanel client:load>
            <Fragment slot="ballContent">
              <div
                class:list={[...typographyStyles, "text-rose-950", "TypoBox"]}
              >
                <BallContent />
                <p class="text-center [&:not(:only-child)]:hidden">
                  Thoughts and feels coming after the games!
                </p>
              </div>
            </Fragment>
            <Fragment slot="wineContent">
              <div
                class:list={[...typographyStyles, "text-rose-950", "TypoBox"]}
              >
                <WineContent />
                <p class="text-center [&:not(:only-child)]:hidden">
                  Thoughts and feels coming after the games!
                </p>
              </div>
            </Fragment>
          </DetailsPanel>
        </article>
      </main>
    </div>
  </div>
</Shell>
