---
import { Image } from "astro:assets";
import { getCollection, getEntry, render } from "astro:content";

import Card from "../components/card.astro";
import Tabs from "../components/detail/tabs.astro";
import Subnav from "../components/subnav.astro";
import Shell from "../layouts/shell.astro";
import Typography from "../layouts/typography.astro";
import * as Utils from "../utils";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
};

const { post } = Astro.props;
const { Content: Body } = await render(post);

const { vintage: _vin } = post.data;
const vintage = await getEntry(_vin);
const wine = await getEntry(vintage.data.wine);
const maker = await getEntry(wine.data.maker);

const { Content: TastingNotes } = await render(vintage);

const introMd = import.meta.glob("/src/content/posts/**/intro.md");

// @ts-expect-error unsure how to type MD import
const { Content: Intro } =
  await introMd[`/src/content/posts/${post.id}/intro.md`]();

const dateFmt = Utils.formatYYYYMMDD(post.id);
const description = `Post for the games on ${dateFmt}${wine ? `, with a bottle of ${wine.data.name}` : ""}`;
---

<Shell description={description} title={dateFmt}>
  <div class="min-h-full bg-rose-950 p-16">
    <Subnav pageVariant="dark" />
    <main class="mt-12 md:mt-20">
      <article class="space-y-8">
        <h1
          class="text-center font-mono text-4xl text-yellow-100 sm:text-6xl md:text-8xl"
        >
          <time datetime={post.id}>{dateFmt}</time>
        </h1>
        <section class="-mx-16 bg-yellow-50 p-8">
          <Typography class="mx-auto text-rose-950">
            <Intro />
          </Typography>
        </section>
        <Tabs>
          <Body slot="ball" />
          <Card class="-mx-8 mt-12 w-fit p-8 sm:mx-auto" slot="wine">
            <h1 class="font-old-style mb-0 text-center text-5xl text-rose-950">
              {wine.data.name}
            </h1>

            <a
              class="font-old-style mt-2 mb-10 block text-center text-xl text-rose-950 underline hover:text-rose-600"
              href={`/cellar/winemakers/${wine.data.maker.id}`}
            >
              {maker.data.name}
            </a>

            <Typography as="article" class="text-rose-950">
              <div
                class="mb-6 flex flex-col items-center justify-center md:flex-row md:gap-8"
              >
                <Image
                  alt={`${wine.data.name} ${Utils.getVintageYear(vintage)} bottle`}
                  class="border-4 border-zinc-800 ring-4 ring-zinc-800/60"
                  src={Utils.vintageImage(vintage)}
                  width="300"
                />
                <div
                  class="mx-auto flex w-fit max-w-[75%] flex-col md:max-w-[50%]"
                >
                  <h2 class="font-old-style">
                    {Utils.getVintageYear(vintage)}
                  </h2>
                  <p>{vintage.data.cepage}</p>
                </div>
              </div>
              <p class="text-rose-950">
                <TastingNotes />
              </p>
            </Typography>
          </Card>
        </Tabs>
      </article>
    </main>
  </div>
</Shell>
