---
import { getCollection, getEntries, render } from "astro:content";

import Tabs from "../components/detail/tabs.astro";
import Subnav from "../components/subnav.astro";
import Shell from "../layouts/shell.astro";
import Typography from "../layouts/typography.astro";
import * as Utils from "../utils";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
};

const { post } = Astro.props;
const { Content: Intro } = await render(post);

const { vintage } = post.data;
const dateFmt = Utils.formatYYYYMMDD(post.id);
const description = `Post for the games on ${dateFmt}${wine ? `, with a bottle of ${wine}` : ""}`;
---

<Shell description={description} title={dateFmt}>
  <div class="min-h-full bg-rose-950 p-16">
    <Subnav pageVariant="dark" />
    <main class="mt-12 md:mt-20">
      <article class="space-y-8">
        <h1
          class="text-center font-mono text-4xl text-yellow-100 sm:text-6xl md:text-8xl"
        >
          <time datetime={post.id}>{dateFmt}</time>
        </h1>
        <section class="-mx-16 bg-yellow-50 p-8">
          <Typography class="mx-auto text-rose-950">
            <Intro />
          </Typography>
        </section>
        <Tabs>
          <BallContent slot="ball" />
          <WineContent slot="wine" />
        </Tabs>
      </article>
    </main>
  </div>
</Shell>
