---
import { Image } from "astro:assets";

import Card from "../../../components/card.astro";
import TestImage from "../../../content/thoughts/2024-10-22/vinhota-2022.png";
import CellarShell from "../../../layouts/cellar-shell.astro";
import Typography from "../../../layouts/typography.astro";
import wineData, { getProducerById } from "../stub";

export const getStaticPaths = () => {
  return wineData.map((wine) => {
    return {
      params: { id: wine.id },
      props: { wine },
    };
  });
};

const { wine } = Astro.props;

// Sort vintages by year (newest first)
wine.vintages.sort((a, b) => b.vintage.localeCompare(a.vintage));

// eslint-disable-next-line @typescript-eslint/no-non-null-assertion
const producer = getProducerById(wine.producerId)!;
---

<CellarShell
  description={`Details about ${wine.name} wine from ${producer.name}`}
  title={`${wine.name} - Wine Detail - The Cellar`}
>
  <main class="mx-auto p-8 md:container md:p-16">
    <!-- Breadcrumb navigation -->
    <header class="mx-auto max-w-1/2">
      <nav class="font-title mx-auto mb-8 flex items-center">
        <a
          class="text-lg text-orange-600 underline decoration-wavy underline-offset-2 hover:text-orange-300"
          href="/cellar"
        >
          The Cellar
        </a>
        <span class="mx-2 text-zinc-300">&gt;</span>
        <a
          class="text-lg text-orange-600 underline decoration-wavy underline-offset-2 hover:text-orange-300"
          href="/cellar/wines"
        >
          Wines
        </a>
        <span class="mx-2 text-zinc-300">&gt;</span>
      </nav>

      <h1 class="font-title text-center text-5xl text-zinc-300 md:text-7xl">
        {wine.name}
      </h1>
      <p
        class="mt-4 text-center font-sans text-lg text-zinc-300 italic md:text-xl"
      >
        {producer.name}
      </p>
    </header>

    <Card class="-mx-8 mt-12 w-fit p-8 sm:mx-auto">
      <Typography as="article" class="text-rose-950">
        <div
          class="mb-6 flex flex-col items-center justify-center md:flex-row md:gap-8"
        >
          <Image
            alt="example image"
            class="border-4 border-zinc-800 ring-4 ring-zinc-800/60"
            height="350"
            src={TestImage}
          />
          <div class="mx-auto flex w-fit max-w-[75%] flex-col md:max-w-[50%]">
            <h2 class="font-old-style">
              {wine.vintages[0].vintage}
            </h2>
            <p>{wine.vintages[0].cepage}</p>
          </div>
        </div>
        <p class="font-old-style text-lg font-bold italic">
          Tried on
          {wine.vintages[0].dateTried}
        </p>
        <p class="text-rose-950">{wine.vintages[0].tastingNotes}</p>
      </Typography>
    </Card>
  </main>
</CellarShell>
